## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
cities_to_load = os.path.join("Weather_Database","WeatherPy_Database.csv")
city_data_df = pd.read_csv(cities_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,70.20,72,20,19.57,few clouds
1,1,Yellowknife,CA,62.4560,-114.3525,0.41,62,75,13.80,broken clouds
2,2,Bethel,US,41.3712,-73.4140,52.16,71,100,11.50,overcast clouds
3,3,Milkovo,RU,54.7167,158.6167,3.79,89,8,4.07,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,79.16,73,3,13.22,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?70
What is the maximum temperature you would like for your vacation?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                799
City                   799
Country                794
Lat                    799
Lng                    799
Max Temp               799
Humidity               799
Cloudiness             799
Wind Speed             799
Current Description    799
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df.count()

City_ID                794
City                   794
Country                794
Lat                    794
Lng                    794
Max Temp               794
Humidity               794
Cloudiness             794
Wind Speed             794
Current Description    794
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,70.20,few clouds,22.0752,-159.3190,
4,Rikitea,PF,79.16,light rain,-23.1203,-134.9692,
5,Cape Town,ZA,70.11,clear sky,-33.9258,18.4232,
6,Anori,BR,88.30,broken clouds,-3.7728,-61.6442,
7,Hobyo,SO,80.73,clear sky,5.3505,48.5268,
15,Butaritari,KI,80.13,overcast clouds,3.0707,172.7902,
19,Arusha,TZ,76.26,broken clouds,-3.3667,36.6833,
23,Souillac,MU,80.98,scattered clouds,-20.5167,57.5167,
28,Breves,BR,82.20,overcast clouds,-1.6822,-50.4803,
33,Faanui,PF,81.86,broken clouds,-16.4833,-151.7500,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
#hotel_df.isnull().sum()
hotel_df.count()

City                   794
Country                794
Max Temp               794
Current Description    794
Lat                    794
Lng                    794
Hotel Name             794
dtype: int64

In [16]:
# 7. Drop the rows where there is no Hotel Name.
# USE .LOC TO REMOVE "" IN STRING
import numpy as np
hotel_df.loc[(hotel_df["Hotel Name"] == "")] = np.nan
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,70.20,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Rikitea,PF,79.16,light rain,-23.1203,-134.9692,People ThankYou
5,Cape Town,ZA,70.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
6,Anori,BR,88.30,broken clouds,-3.7728,-61.6442,Novo Hotel 5 IrmÃ£os
7,Hobyo,SO,80.73,clear sky,5.3505,48.5268,Iftin hotel hobyo

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))